<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:switch="${copies}">
        <div th:case="*">
          <table class="table">
            <thead>
              <tr>
                <th>Copy id</th>
                <th>User id</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="copies : ${copies}">
                <td th:text="${copies.copyPkId.bookId}"></td>
                <td th:text="${copies.copyPkId.copyId}"></td>
                <td th:text="${copies.userId}"></td>
            
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>
</html>