<!DOCTYPE html>
<html lang="en">
<head th:include="@{../fragments/sharedHead.html}">
  <title id="pageTitle">Working Talent Library - Edit Book</title>
</head>
<body class="d-flex flex-column min-vh-100">
  <!--______________Navigation bar______________-->
  <!-- <div th:insert="@{../fragments/navbar.html}" id="cur-nav"></div> -->
  <div th:insert="@{../fragments/navbar-new.html}"></div>
  <!--______________End navigation bar______________-->

  <!-- ______________Cancellation Modal______________ -->
  <div th:each="reservation : ${book.reservations}" class="modal fade" th:id="@{cancellationModal}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Cancellation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p th:text="@{Are you sure you want to cancel your reservation?}"></p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <a class="btn btn-primary" th:href="@{/reservations/cancelBI/{id}(id=${book.id})}">Confirm</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ______________End of Cancellation Modal______________ -->

  <!-- ______________Deletion Modal______________ -->
  <div th:each="copy : ${copies}" class="modal fade" th:id="@{deletionModal}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p th:text="@{Are you sure you want to delete this copy?}"></p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <a class="btn btn-primary" th:href="@{/copies/delete/{id1}(id1=${copy.id})}">Confirm</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ______________End of Deletion Modal______________ -->

  <!-- ______________Main page view______________ -->
  <div class="container">
    <br>
    <h1>Book info</h1>

    <!-- Book cover image -->
    <img th:src="*{'data:image/jpeg;base64, '+{book.cover_image}}" alt="Book Cover" width="300" height="300" />

    <!-- Edit book -->
    <form action="#" th:action="@{/books/edit/{id}(id=${book.id})}" th:object="${book}" method="post" enctype="multipart/form-data">
    <table class="table">
      <thead>
        <tr>
          <th>Book id</th>
          <th>Book title</th>
          <th>Isbn</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${book.id}"></td>
          <td th:text="${book.title}"></td>
          <td th:text="${book.isbn}"></td>
          <td th:text="${book.author}"></td>
        </tr>
      </tbody>
    </table>
    
    <!-- Reserve/cancel reseration button -->
    <div th:if="${bookReserveable}">
      <td>
        <a class="btn btn-primary" th:href="@{/reservations/createReservation/{id}(id=${book.id})}">Reserve</a>
      </td>
    </div>
    <div th:unless="${bookReserveable}">
      <td>
        <button type="button" class="btn btn-secondary" th:data-bs-toggle="modal" th:data-bs-target="@{#cancellationModal}">Cancel reservation</button>
      </td>
    </div>
    <br>

    <!-- Edit book -->
  <div sec:authorize="hasAnyAuthority('1')">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" th:data-bs-toggle="modal" th:data-bs-target="@{#bookEditor}">Edit</button>
  </div>

  <!-- version already exists notification -->
  <div th:if="${param.versionTaken}">
    <p><mark>Version already exists</mark></p>
  </div>

  <!-- Display copies -->
  <table class="table">
    <thead>
      <tr>
        <th>Book</th>
        <th>Version</th>
        <th>Loaned by</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="copies : ${copies}">
          <td th:text="${copies.book.title}"></td>
          <td th:text="${copies.version}"></td>
          <td th:text="${copies.user == null ? '-' : copies.user.fullName}"></td>
          <td>
            <div sec:authorize="hasAnyAuthority('1')">
              <a class="btn btn-danger" th:data-bs-toggle="modal" th:data-bs-target="@{#deletionModal}">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ______________End of main page view______________ -->

  <!-- ____________________Editor modal___________________ -->
  <div class="modal fade" id="bookEditor">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Edit book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form action="#" th:action="@{/books/edit/{id}(id=${book.id})}" th:object="${book}" method="post">
            <div class="visually-hidden">
              <label for="id">ID: </label>
              <input type="text" th:field="*{id}" id="id" placeholder="Id" />
            </div>

            <label for="title">Title: </label>
            <input type="text" th:field="*{title}" id="title" placeholder="Title" />
            <br>
            <br>
            <label for="isbn">Isbn: </label>
            <input type="text" th:field="*{isbn}" id="lisbn" placeholder="Isbn" />
            <br>
            <br>
            <label for="author">Author: </label>
            <input type="text" th:field="*{author}" id="author" placeholder="Author" />
            <br>
            <br>
            <label for="image">Book cover: </label>
            <input type="file" name="image" id="image" placeholder="Image" />
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Update Book" />
            <input class="btn btn-primary" type="submit" value="Quick add version" th:formaction="@{/copies/quickAdd/{bookId} (bookId=${book.id})}"/>
          </form>
          <br>
          <br>
          <!-- Add copy -->
          <form action="#" th:action="@{/copies/create/{bookId} (bookId=${book.id})}" th:object="${copy}" method="post">
            <label>Add version: </label>
            <input type="number" th:field="*{version}" id="copy" placeholder="copy" min="1" />
            <input class="btn btn-primary" type="submit" value="Submit" />
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" th:data-bs-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- ________________End of Editor modal___________________ -->

  <!-- ______________________Footer_____________________ -->
	<div class="mt-auto" style="background-color: black">
    <div class="container" th:insert="@{../fragments/footer.html}"></div>
  </div>
	<!-- __________________ End of Footer_________________ -->

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
  </script>
</body>
</html>
