<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap CSS Import -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
  crossorigin="anonymous" />
  <!-- General CSS -->
  <link rel="stylesheet" href="../../static/style.css" th:href="@{../../style.css}" />
  <title>Working Talent Library - Edit Book</title>
</head>
<body>
  <!--______________Navigation bar______________-->
  <!-- <div th:insert="@{../fragments/navbar.html}" id="cur-nav"></div> -->
  <div th:insert="@{../fragments/navbar-new.html}"></div>
  <!--______________End navigation bar______________-->

  <!-- ______________Main page view______________ -->
  <div class="container">
    <br>

    <!-- Show and edit label -->
    <div sec:authorize="hasAnyAuthority('1')">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <form th:each="label: ${labels}" action="#" th:action="@{/label/edit}" th:object="${label}" method="post" >
            <tr>
              <div class="visually-hidden">
                <label for="id">Label ID</label>
                <input type="text" th:value="*{id}" id="id" name="id" placeholder="Label ID" />
              </div>
              <td>
                <label for="name">Label: </label>
                <input type="text" th:value="*{name}" id="name" name="name" placeholder="Label" />
              </td>
              <td>
                <button href="#" class="btn btn-primary" >Edit label</button>
                <button th:formaction="@{/label/delete}" class="btn btn-danger" >Remove label</button>
              </td>
            </tr>
          </form>  
          <form action="#" th:action="@{/label/add}" th:object="${label}" method="post" >
            <tr>
              <div class="visually-hidden">
                <label for="id">Label ID</label>
                <input type="text" th:field="*{id}" id="id" placeholder="Label ID" />
              </div>
              <td>
                <label for="name">Label: </label>
                <input type="text" th:field="*{name}" id="name" placeholder="Label" />
              </td>
              <td>
                <button href="#" class="btn btn-primary" >Add label</button>
              </td>
            </tr>
          </form>  
        </tbody>
      </table>
    </div>
  </div>
  <!-- ______________End of main page view______________ -->

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
  </script>
</body>
</html>
