<!DOCTYPE html>
<html lang="en">
<head th:include="@{../fragments/sharedHead.html}">
  <title id="pageTitle">WT library</title>
</head>
<body>
  <!--______________navigation bar______________-->
  <!-- <div th:insert="@{../fragments/navbar.html}" id="cur-nav"></div> -->
  <div th:insert="@{../fragments/navbar-new.html}"></div>
  <!--______________end navigation bar______________-->
  
  <!-- ______________Cancellation Modal______________ -->
  <div th:each="books : ${books}" class="modal fade" th:id="@{cancellationModal{bookId}(bookId = ${books.key.id})}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Cancellation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p th:text="@{Are you sure you want to cancel your reservation?}"></p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <a class="btn btn-primary" th:href="@{/reservations/cancel/{id}(id=${books.key.id})}">Confirm</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ______________End of Cancellation Modal______________ -->

  <!--______________Main page view______________-->
  <div class="container">
    <br>
    <h1>WT library</h1>

    <!-- Search Book Function -->
    <div id="search">
      <form th:action="@{/books}" action="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Search..." />
        <button type="submit" class="btn btn-primary" >Search</button>
        <a href="/books" class="btn btn-secondary">Reset</a>
      </form>
    </div>

    <!-- Books Table -->
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cover</th>
          <th>title</th>
          <th>isbn</th>
          <th>author</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="books : ${books}">
          <td th:text="${books.key.id}"></td>
          <td><img th:src="*{'data:image/jpeg;base64, '+{books.key.cover_image}}" alt="Book Cover" width="100" height="100" /></td>
          <td th:text="${books.key.title}"></td>
          <td th:text="${books.key.isbn}"></td>
          <td th:text="${books.key.author}"></td>
          <td>
            <a class="btn btn-primary" th:href="@{/books/edit/{id}(id=${books.key.id})}">Info</a>
          </td>
          <!-- Reserve/cancel reseration button -->
          <div th:switch="${books.value.name()}">
            <td th:case="'RETURNED'">
              <a class="btn btn-primary" th:href="@{/reservations/createReservationBI/{id}(id=${books.key.id})}">Reserve</a>
            </td>
            <td th:case="'RESERVED'">
              <a class="btn btn-secondary" th:data-bs-toggle="modal" th:data-bs-target="@{#cancellationModal{bookId}(bookId = ${books.key.id})}">Cancel</a>
            </td>
            <td th:case="'LOANED'">
              <a class="btn disabled" >No doubles!</a>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ______________End of main page view______________ -->
  
  <!-- ______________________Footer_____________________ -->
  <div style="background-color: black"><div class="container" th:insert="@{../fragments/footer.html}"></div></div>
  <!-- __________________ End of Footer_________________ -->

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
  </script>
</body>
</html>
