<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap CSS Import -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
  crossorigin="anonymous" />
  <!-- General CSS -->
  <link rel="stylesheet" href="../../static/style.css" th:href="@{../../style.css}" />
  <title>WT library</title>
</head>
<body>
  <!--______________navigation bar______________-->
  <!-- <div th:insert="@{../fragments/navbar.html}" id="cur-nav"></div> -->
  <div th:insert="@{../fragments/navbar-new.html}"></div>
  <!--______________end navigation bar______________-->
  

  <!--______________Main page view______________-->
  <div class="container">
    <br>
    <h1>WT library</h1>

    <!-- Search Book Function -->
    <div id="search">
      <form th:action="@{/books}" action="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Search..." />
        <button type="submit" class="btn btn-primary" >Search</button>
        <a href="/books" class="btn btn-secondary">Reset</a>
      </form>
    </div>

    <!-- Books Table -->
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cover</th>
          <th>title</th>
          <th>isbn</th>
          <th>author</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="books : ${books}">
          <td th:text="${books.key.id}"></td>
          <td><img th:src="*{'data:image/jpeg;base64, '+{books.key.cover_image}}" alt="Book Cover" width="100" height="100" /></td>
          <td th:text="${books.key.title}"></td>
          <td th:text="${books.key.isbn}"></td>
          <td th:text="${books.key.author}"></td>
          <td>
            <a class="btn btn-primary" th:href="@{/books/edit/{id}(id=${books.key.id})}">Info</a>
          </td>
          <!-- Reserve/cancel reseration button -->
          <div th:if="${books.value}">
            <td>
              <a class="btn btn-primary" th:href="@{/reservations/createReservation/{id}(id=${books.key.id})}">Reserve</a>
            </td>
          </div>
          <div th:unless="${books.value}">
            <td>
              <a class="btn btn-secondary" th:href="@{/reservations/cancel/{id}(id=${books.key.id})}">Cancel</a>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- ______________End of main page view______________ -->
    
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
  </script>
</body>
</html>
