@font-face {
  font-family: 'EuclidSquare';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/EuclidSquare-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'EuclidSquare', 'Calibri';
  /* font-size: 48px; */
  background-color: white;
  /* background-color: #131516; */
}

/* Bootstrap Buttons */
.btn-primary {
  vertical-align: middle;
  --bs-btn-color: #fff;
  --bs-btn-bg: #008200;
  --bs-btn-border-color: #008200;
  --bs-btn-hover-color: #008200;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #008200;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #008200;
  --bs-btn-active-border-color: #008200;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #008200;
  --bs-btn-disabled-border-color: #008200;
}

.btn-outline-success {
  --bs-btn-color: #008200;
  --bs-btn-border-color: #008200;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #008200;
  /* --bs-btn-hover-border-color: #198754; */
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #008200;
  --bs-btn-active-border-color: #008200;
  --bs-btn-disabled-color: #008200;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #008200;
  --bs-gradient: none;
}
/* End of Bootstrap Buttons */

.edit-book-buttons {
  margin: 1rem 0;
}

/* Tables */
tr {
  vertical-align: middle;
}
/* End of Tables */


/* Navbar link-list */
.navbar {
  --bs-bg-opacity: 0;
}

.nav-link {
  color: #000;;

}

.nav-link:hover {
  background-color: rgb(15, 110, 40);
  color: white;

}

.dropdown-item:hover {
  background-color: rgb(15, 110, 40);
  color: white;

}

mark {
  background-color: yellow;
}

/* .alt-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

.alt-nav li {
  float: left;
}

.alt-nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
} */

/* .alt-nav a:hover {
  background-color: rgb(15, 110, 40);
  color:white;
} */




/* Navbar link-list */
/* #cur-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 230, 0);
}
#cur-nav li {
  float: left;
  
}
#cur-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
}
#cur-nav li a:hover {
  background-color: rgb(15, 110, 40);
  color:white;
} */
