@font-face {
  font-family: 'EuclidSquare';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/EuclidSquare-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'EuclidSquare', 'Calibri';
  /* font-size: 48px; */
  background-color: white;
  /* background-color: #131516; */
  margin-bottom: 0;
}

/* Bootstrap Buttons */
.btn-primary {
  vertical-align: middle;
  --bs-btn-color: #fff;
  --bs-btn-bg: #008200;
  --bs-btn-border-color: #008200;
  --bs-btn-hover-color: #008200;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #008200;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #008200;
  --bs-btn-active-border-color: #008200;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #008200;
  --bs-btn-disabled-border-color: #008200;
}
.btn-outline-success {
  --bs-btn-color: #008200;
  --bs-btn-border-color: #008200;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #008200;
  /* --bs-btn-hover-border-color: #198754; */
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #008200;
  --bs-btn-active-border-color: #008200;
  --bs-btn-disabled-color: #008200;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #008200;
  --bs-gradient: none;
}
/* End of Bootstrap Buttons */

.container {
  margin-bottom: 2rem;
}

.login {
  min-height: 60vh;
}

.edit-book-buttons {
  margin: 1rem 0;
}

/* Tables */
tr {
  vertical-align: middle;
}
/* End of Tables */

/* User Interface */
.user-interface {}
.title-name, .edit-user {
  display: inline-block;
  margin-right: .5rem;
  
}
.edit-user {
  vertical-align: middle;
  margin-bottom: 1rem;
}
/* End of User Interface */

/* Navbar */
.navbar {
  --bs-bg-opacity: 0;
}
.nav-link {
  color: #000;;
}
.nav-link:hover {
  background-color: rgb(15, 110, 40);
  color: white;
}
/* End of Navbar */

/* Dropdown Menus */
.dropdown-item {
  margin: 3px 0;
}
.dropdown-item:hover {
  background-color: rgb(15, 110, 40);
  color: white;
}
.dropdown-submenu:hover > .dropdown-menu{
  display: block !important;
    left: 100%;
    margin-top: -37px;
}
/* End of Dropdown Menus */

/* Footer */
footer {
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #00e600;
}
/* End of Footer */

mark {
  background-color: yellow;
}

/* Book & User Form */
.add-book,.add-user {
  max-width: 450px;
}
.add-book input[type=text],.add-user input[type=text] {
  margin-bottom: 10px;
  width: 250px;
}
.add-book label {
  width: 60px;
}
.add-user label {
  width: 100px;
}
.add-book hr,.add-user hr {
  margin: 10px 0;
}
.cover-upload label {
  width: auto;
  margin-top: 5px;
}
/* End of Book & User Form */

/* Modals */
.modal-body form {
  margin-bottom: 10px;
}
.modal-body .field {
  margin-bottom: 10px;
}
.modal-body form label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.modal-body .buttons {
  text-align: right;
}
.modal-body .role-select {
  text-align: right;
  margin-bottom: 0;
}
/* End of Modals */
