<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Working Talent Library - Add User</title>
</head>
<body>
  <h1>Add User</h1>
  <form 
      action="#" 
      th:action="@{add-user}" 
      th:object="${users}" 
      method="post" 
    > 
      <label for="first_name">First Name: </label> 
      <input 
        type="text" 
        th:field="*{first_name}" 
        id="firstName" 
        placeholder="First Name" 
      />  
      <label for="last_name">Last Name: </label> 
      <input 
        type="text" 
        th:field="*{last_name}" 
        id="lastName" 
        placeholder="Last Name" 
      /> 
      <label for="email">Email: </label> 
      <input 
        type="text" 
        th:field="*{email}" 
        id="email" 
        placeholder="Email" 
      /> 
      <input type="submit" value="Add User" /> 
    </form>
</body>
</html>