<!DOCTYPE html>
<html lang="en">
<head th:include="@{../fragments/sharedHead.html}">
  <title id="pageTitle">Working Talent Library - Add User</title>
</head>
<body>
  <!--_____________navigation bar_______________-->
  <!-- <div th:insert="@{../fragments/navbar.html}" id="cur-nav"></div> -->
  <div th:insert="@{../fragments/navbar-new.html}"></div>
  <!--______________end navigation bar______________-->

  
  <!-- ______________Main page view______________ -->
  <div class="container">
    <br>
    <h1>Add User</h1>

    <form action="#" th:action="@{add-user}" th:object="${user}" method="post">
      <label for="first_name">First Name: </label>
      <input type="text" th:field="*{first_name}" id="firstName" placeholder="First Name" />

      <label for="last_name">Last Name: </label>
      <input type="text" th:field="*{last_name}" id="lastName" placeholder="Last Name" />

      <label for="email">Email: </label>
      <input type="text" th:field="*{email}"  id="email" placeholder="Email" />
      
      <input class="btn btn-primary" type="submit" value="Add User" />
    </form>
  </div>
  <!-- ______________End of main page view______________ -->

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
  </script>
</body>
</html>
