<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap CSS Import -->
	<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
	crossorigin="anonymous" />
	<!-- General CSS -->
	<link rel="stylesheet" href="../../static/style.css" th:href="@{../../../style.css}" />
	<title>Working Talent Library - Edit User</title>
</head>
<body>
	<!--______________navigation bar______________-->
	<!-- <div th:insert="@{../fragments/navbar.html}" id="cur-nav"></div> -->
  <div th:insert="@{../fragments/navbar-new.html}"></div>
	<!--______________end navigation bar______________-->


	<!-- ______________Main page view______________ -->
	
  <div class="container">
    <h1>Change password</h1>
    <form action="#" th:action="@{/users/edit-user/{id}/change-password(id=${user.id})}" th:object="${user}" method="post">
      <table>
        <tr>
          <td>
            <label for="newPassword">New password: </label>
          </td>
          <td>
            <input type="password" name="newPassword" id="newPassword" placeholder="" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="confirmPassword">Confirm new password: </label>
          </td>
          <td>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="" />
            <div th:if="${newPass} != ${confirmPass}">
              <p>Bob!</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="oldPassword">Old password: </label>
          </td>
          <td>
            <input type="password" name="oldPassword" id="oldPassword" placeholder="" />
          </td>
        </tr>
        <tr>
          <td>
            <input class="btn btn-primary" type="submit" value="Change password">
          </td>
        </tr>
      </table>
    </form>
  </div>

	<!-- ______________End of main page view______________ -->

	<!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous">
  </script>
</body>
</html>
