nav, h1, .form-group {
  margin-bottom: 1rem;
}

#copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#copyright > p {
  margin: 0;
}

.btn-primary {
  margin-top: 1rem;
}

.action {
  margin-right: 0.5rem;
}

.form-control {
  max-width: 20rem;
}