nav, h1, .form-group {
  margin-bottom: 1rem;
}

#copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#copyright > p {
  margin: 0;
}

.btn-primary {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-secondary {
  margin-right: 0.3rem;
}

.action {
  margin-right: 0.5rem;
}

#search {
  display: flex;
}

#users-table {
  margin-top: 1rem;
}