<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
  xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head>
  <title>Working talent library</title>
</head>
<body>
<style>
		#loginForm {
			position:fixed;
			top:45%;
			left:45%;
		}
</style>
  <!-- Invalid login responses -->
  <div th:if = "${param.error}">
   <p>Invalid username and password.</p>
  </div>
  <div th:if = "${param.logout}">
   <p>You have been logged out.</p>
  </div>
  
  <!-- Login prompts -->
  <form th:action = "@{/login}" method = "post">
    <div>
      <label> User Name : <input type = "text" name = "username"/></label>
    </div>
    <div>
      <label> Password: <input type = "password" name = "password"/></label>
    </div>
    <div>
      <input type = "submit" value = "Sign In"/>
    </div>
  </form>
</body>
</html>